.feynman__title {
  margin: 0;
  padding: 0;
  max-width: 648px;
  align-self: center;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  z-index: 1;
  font-weight: bold;
  color: #000000;
}